header{
    background-color:#f0aa9e;
    }
body{
    background-color:#ffc0b5;
    font-family: 'Homemade Apple', cursive;
    }
.poop{
    font-family: 'Mrs Sheppards', cursive;
    color:white;
    font-size:50px;
    text-align:center;
    }
.navbar{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color:white;
    font-size:30px;
    }
#movedown{
    position: relative;
    left:50px;
    }
#gamer{
    position: relative;
    left:50px;
    }
#border{
    border-color:#f0aa9e;
    border-left-style:solid;
    border-left-width:15px;
    border-bottom-color:#f0aa9e;
    border-bottom-style:solid;
    border-bottom-width:7px;
    }
.winkwonk{
    font-family: 'Homemade Apple', cursive;
    color:white;
    position: relative;
    margin-left:75px;
    text-shadow: 5px 1px #f0aa9e;
    font-size:25px;
    }
.greeting{
    color:white;
    position: relative;
    text-shadow: 5px 1px #f0aa9e;
    text-align:center;
}
#me{
    text-align:center;
    font-family: 'Homemade Apple', cursive;
    color:white;
    position: relative;
    text-shadow: 5px 1px #f0aa9e;
}

.woah{
    font-family: 'Homemade Apple', cursive;
    color:white;
    position: relative;
    text-shadow: 5px 1px #f0aa9e;
    font-size:25px;
    margin-left:570px;
}
.wack{
    font-family: 'Homemade Apple', cursive;
    color:white;
    position: relative;
    text-shadow: 5px 1px #f0aa9e;
    font-size:25px;
    margin-left:550px;
}
#news{
    margin-left:2000px;
    position:relative;
    top:100px;
}
#reee{
    position:relative;
    bottom:220px;
    left:50px;
    
}
#bg{
    background-color:#f0aa9e;
}
.wow{
            padding: 0;
            margin: 0;
}
.fit { /* set relative picture size */
            max-width: 100%;
            max-height: 100%;
}
.center {
            display: block;
            margin: auto;
        }
